<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="crm.workshop.echonest" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <receiver android:name=".utils.AlarmReceiver" android:enabled="true"/>

        <service android:name=".utils.AlarmService"/>

        <activity
            android:name="crm.workshop.echonest.playlist.PlayListActivity"
            android:label="@string/title_activity_play_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="crm.workshop.echonest.playlist.PagerActivity"
            android:label="@string/title_activity_pager" >
        </activity>
    </application>

</manifest>
